<% provide(:title, 'About Me') %>

<div id="aboutme_title">
  <h2>A Bit About Me</h2>
  <hr>
</div>
<div id="aboutme_body">
  <p>
  I am currently an undergraduate at the University of Colorado, and I am studying Mathematics and Computer Science. In addition, I have experience in Business Management and Marketing, as well as the Japanese language. I am just a few credits from my graduation, which is set for December 2013.
  </p>
  <p>
  I built this website in order to gain more experience with Ruby on Rails, HTML, and CSS. I started building HTML based websites when I was 13 and am hoping to gain more real world experience in both front-end and back-end web design.
  </p>
  <p>
  My current interests are: anything tech, guitar and Metal music, computer science, video games, and running
  </p>
</div>