<% provide(:title, 'Hire Me') %>

<div class="contact_title">
  <h2>Hire Me</h2>
</div>
<hr>
<div class="contact_body">
  <div>
    I am currently seeking an entry level position in software development. Here is my <%= link_to 'resume', 'https://drive.google.com/file/d/0B1D0qF8hnz2zY29FUXZfWlM4RVk/edit?usp=sharing' %>.
  </div>
  <div>
    <h2>Contact Me</h2>
    <hr>
    Email: <%= link_to 'coreyelliotnagel@gmail.com', 'mailto:coreyelliotnagel@gmail.com' %>
  </div>
</div>