<% provide(:title, 'Blog') %>
<div id="blog_post">

    <%= render 'layouts/bloghead' , object: @latest_post%>

    <div id="blog_body">
      <%= simple_format @latest_post.content %>
    </div>
</div>