<% provide(:title, 'Blog') %>
<div class="blog_post">
    <% if Post.any? %>
      <% Post.all(:order => 'created_at DESC', :limit => 10).each do |post| %>
        <%= render 'layouts/bloghead' , object: post%>
        <div class="blog_body">
            <%= simple_format post.content %>
        </div>
      <% end %>
    <% else %>
        No Recent Posts
    <% end %>
</div>