<% provide(:title, 'Projects') %>
<div id="projects_title">
  <h2>My Projects</h2>
</div>
<div id="projects_body">
    <ul>
      <li>
        <h3>Current</h3>
            <ul><li>This Website</li></ul>
      </li>

      <li><h3>Past</h3></li>
    </ul>
</div>