<% provide(:title, 'Projects') %>
<div id="projects_title">
  <h2>My Projects</h2>
  <hr>
</div>
<div id="projects_body">
    <ul>
      <li>
         <h3>Current</h3>
         <ul>
            <li>
              <h4>
                <%= link_to 'http://www.coreynagel.com', root_path %>
                - Source on <a href="https://github.com/cnagel85/blog_app.git">Github</a>
              </h4>
            </li>
         </ul>
      </li>

      <li>
        <h3>Past</h3>
        <ul>
          <li></li>
        </ul>
      </li>
    </ul>
</div>