<li>
  <div class="post_list_title"><%= link_to post.title, post %></div>
  <div class="post_list_timestamp">
    <%= post.created_at.strftime("%m/%d/%Y") %>
  </div>
  <div class="delete_post">
      <% if current_user?(post.user) %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to "delete", post, method: :delete,
                      data: { confirm: "You Sure?" },
                      title: post.title %>
      <% end %>
  </div>
  <hr>
</li>