<div id="blog_head">
    <div class="avatar"><%=  image_tag('avatar_icon.gif', alt: 'Corey') %></div>

    <div class="post_title">
        <div>
            <h2>Lorem Ipsum...</h2>
        </div
        <div>
            <ul>
                <li>Author:</li>
                <li></li><%= link_to 'Corey Nagel', 'mailto:coreyelliotnagel@gmail.com' %></li>
                <li>Post Date: </li>
                <li style="color:white;">13/13/13</li>
                <li>Twitter: </li>
                <li><%= link_to '@Coreynagel85','http://www.twitter.com/coreynagel85' %></li>
            </ul>
        </div>
    </div>
</div>