
  <div id="about">
    <div id="about_title">
      <h4>Who am I?</h4>
    </div>
    <div id="about_body">
      <p>This is a section with a little info about me in it.</p>
    </div>
  </div>

  <div id="side_body">
    <div id="side_title">
        <h4>Recent Posts</h4>
    </div>
    <div id="recent_posts">
    <p>
      This is going to be a latest post side bar
    </p>
     </div>
  </div>
