
<div id="side_about">
  <div>
    <div id="side_about_title">
      <h3>Who am I?</h3>
      <hr>
    </div>
    <div id="side_about_body">
      <p>
        A bit about me yo. Im some dude and this is my blog.
      </p>
    </div>
  </div>
</div>
<div id="side_recent_posts">
  <div>
    <div id="side_recent_title">
      <h3>Recent Posts</h3>
      <hr>
    </div>
    <div id="side_recent_body">
      <p>
        <%= render 'shared/recent_posts' %>
      </p>
    </div>
  </div>
 </div>